ngx_feature="ngx_http_gm_module"
ngx_addon_name="ngx_http_gm_module"
ngx_objs_dirs="$ngx_addon_dir/objs"
ngx_feature_libs="{GM_LDFLAGS}"
ngx_feature_name=
ngx_feature_run=no
ngx_feature_inc_path="$ngx_feature_inc_path {GM_CPPFLAGS} -I./"
ngx_feature_incs="#include <magick/api.h>"
ngx_feature_path="/app/gm/include/GraphicsMagick/"
ngx_feature_test="
InitializeMagick(NULL)
"

. auto/feature

if [ $ngx_found = no ]; then
    cat <<EOF
The compilation test below failed:

$ngx_feature_incs
$ngx_feature_test
EOF
    exit 1
fi

CFLAGS="${CFLAGS} $ngx_feature_inc_path $ngx_feature_libs {GM_CFLAGS}"
CORE_LIBS="$CORE_LIBS $ngx_feature_libs"

GMN_SRCS="                                                          \
                $ngx_addon_dir/src/ngx_http_gm_filter_auto_orient.c \
                $ngx_addon_dir/src/ngx_http_gm_filter_composite.c   \
                $ngx_addon_dir/src/ngx_http_gm_filter_convert.c     \
                $ngx_addon_dir/src/ngx_http_gm_filter_crop.c        \
                $ngx_addon_dir/src/ngx_http_gm_filter_desc.c        \
                $ngx_addon_dir/src/ngx_http_gm_filter_module.c      \
                $ngx_addon_dir/src/ngx_http_gm_filter_resize.c      \
                $ngx_addon_dir/src/ngx_http_gm_filter_rotate.c      \
                $ngx_addon_dir/src/ngx_http_gm_filter_sample.c      \
                $ngx_addon_dir/src/ngx_http_gm_filter_scale.c       \
                $ngx_addon_dir/src/ngx_http_gm_filter_strip.c       \
                $ngx_addon_dir/src/ngx_http_gm_filter_thumbnail.c   \
                $ngx_addon_dir/src/ngx_http_gm_filter_unsharp.c     \
                $ngx_addon_dir/src/ngx_http_gm_filter_util.c        \
                "

GMN_DEPS="                                                          \
                $ngx_addon_dir/src/ngx_http_gm_filter_util.h        \
                $ngx_addon_dir/src/ngx_http_gm_filter_module.h      \
                $ngx_addon_dir/src/ddebug.h                         \
                "

ngx_addon_name=ngx_http_gm_module

if test -n "$ngx_module_link"; then
    ngx_module_type=HTTP_AUX_FILTER
    ngx_module_name=$ngx_addon_name
    ngx_module_deps="$GMN_DEPS"
    ngx_module_srcs="$GMN_SRCS"
    ngx_module_libs="$ngx_module_libs $ngx_feature_libs"
    ngx_module_incs="$ngx_feature_path"

   . auto/module
else
    HTTP_AUX_FILTER_MODULES="$HTTP_AUX_FILTER_MODULES $ngx_addon_name"
    NGX_ADDON_SRCS="$GMN_SRCS"
    NGX_ADDON_DEPS="$GMN_DEPS"
fi
